/* normal style */
.site-header
  padding remify(40px) 0
  border-bottom 1px solid $theme-seperator
  margin-bottom remify(30px)
  border-bottom 0
  background-color #191919
  background-position center center
  background-attachment scroll
  -webkit-background-size cover
  -moz-background-size cover
  background-size cover
  -o-background-size cover
  
  &.header-background
    border-bottom 0
    background-color #191919
    background-position center center
    background-attachment scroll
    -webkit-background-size cover
    -moz-background-size cover
    background-size cover
    -o-background-size cover

.page-title
  padding remify(50px) 0
  color $theme-colour
  text-align left
  text-shadow 2px 2px 5px $theme-colour

  &.with-background
    color $theme-colour
    text-align center

    h1
      color $colour-white

  .title
    font-size remify(36px)

.site-menu
  border-top 1px solid $theme-colour
  text-align right
  margin-top remify(10px)
  padding-top remify(12px)
  text-shadow 1px 1px 1px $theme-colour
  ul
    margin 0 auto
    padding 0
    > li
      display inline-block
      margin-right remify(10px)
      &:last-child
        margin-right 0
      > a
        color $colour-white
        padding remify(3px) remify(10px)
        border-radius remify(2px)

  &.with-background
    a
      color $colour-white