/* normal style */
.pagination
  display block
  text-align center
  overflow hidden
  > li
    display inline-block
    > a
      color $theme-color
      background-color $theme-background
      border 1px solid $theme-colour
      border-radius remify(3px)
      &:hover
        color-revert()
        border 1px solid $theme-colour
      span
        display inline-block