/* normal style */
.post-tags,
.post-info
  font-size remify(14px)
  font-style italic
  text-align center
.post-info
  margin-bottom remify(5px)
  .info
    padding 0 remify(8px)
    border-right 1px dotted $theme-dotted-seperator
    &:last-child
      border-right none
  .categories a
    padding remify(2px) remify(4px)
    border-radius remify(2px)

.post-tags
  font-style italic
  > a
    display inline-block
    padding 0 remify(4px)
    margin-right remify(2px)
    border-radius remify(2px)

.post-content
  padding-top remify(40px)
  padding-bottom @padding-top
  //font-size remify(15px)
  font-family $post-font
  font-size 1em

  h2
    font-size 1.45em
  
  h3
    font-size 1.4em

  h4
    font-size 1.3em
  
  h5
    font-size 1.2em
  
  h6
    font-size 1.1em

  blockquote
    width 50%
    float right
    font-family $quote-font
    font-size 1.1em
    border-top 2px solid $theme-colour
    border-bottom 2px solid $theme-colour
    padding-top 25px
    margin-left 15px

  p
    padding-bottom 1rem
  
  img
    display block
    max-width 95%
    height auto
    margin 0 auto
    //border 1px solid $theme-colour
    //box-shadow 5px 5px 10px $theme-text-colour
  
  .video-container iframe
    display block
    max-width 95%
    width 640px
    height 360px
    margin 0 auto