doctype html
html(lang=config.language)
    include _partial/html-head
    body
        include _partial/header
        .container
            .row
                section
                    article
                        block content
        include _partial/footer
    include _partial/after-footer