.post-item
    a(href=url_for(post.path)).post-title
        =post.title || __('untitled_post')
    .post-excerpt
        //- Post Date and Categories
        .date-and-category
            .date= date(post.date)
            .categories
                if post.categories && post.categories.length
                    each category in post.categories.toArray()
                            a(href=url_for(category.path))
                                =category.name
                else
                    =__('uncategorised')

        //- Post Excerpt if applicable
        div(class="excerpt")
            !=post.excerpt || __('no_excerpt')

        //- Post Tags
        .tags
            if post.tags && post.tags.length
                ul
                    each tag in post.tags.toArray()
                        li
                            a(class="tag" href=url_for(tag.path))
                                = '#' + tag.name
            else
                .untagged
                    != __('untagged')