extends includes/layout

block content
    //- Archive Page
    .row
        div(class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1")
            //- Iterate through each post
            each post in page.posts.sort('date', -1).toArray()
                include includes/_partial/archive-entry
    include includes/_partial/pagination