extends includes/layout

block content
    //- Home Page
    .row
        div(class="col-lg-10 col-md-10 col-md-offset-1")
            //- Iterate through each post
            each post in page.posts.sort('date', -1).toArray()
                include includes/_partial/index-entry
    include includes/_partial/pagination