/* Baseline Colours */

/* basic */
$colour-white = #2a2a29
$colour-beige = #191919
$colour-black = #f0e7d5

/* theme */
$dark-red    = #E80C1C
$dark-pink   = #F53156
$dark-yellow = #F7D117
$dark-orange = #F06807
$dark-blue   = #1999EC
$dark-purple = #855E8C

$theme-colour            = $dark-purple
$theme-text-colour       = $colour-black
$theme-background        = $colour-white
$theme-code-background   = $colour-beige
$theme-seperator         = $dark-purple
$theme-dotted-seperator  = $dark-purple

$body-font               = 'Open Sans', sans-serif
$post-font               = 'Open Sans', sans-serif
$header-font             = 'Comfortaa', cursive
$quote-font              = 'Comfortaa', cursive

color-revert()
    color $theme-background
    background-color $theme-colour

@import '_base'
@import '_helpers/mixins'

@import '_typography/typo.css'
@import '_typography/code'
@import '_typography/highlight.light'

@import '_partial/header'
@import '_partial/index-entry'
@import '_partial/archive-entry'
@import '_partial/post'
@import '_partial/footer'
@import '_partial/pagination'